/*--------------------------------
  
  Utilities
*/

figure {
	margin: 0 
}

.u-full-block {
	display: block;
}

.u-float-left {
	float: left !important;
}

.u-float-right {
	float: right !important;
}

.u-text-right {
	text-align: right;
}

.u-no-margin {
	@include zero-out;
}

.u-divide {
	
	
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $light-gray;
    margin: rem-calc(50 0);
    padding: 0;
}

.u-rule {
	border-top: 1px solid lighten($light-gray, 10%); 
	margin: rem-calc(20 0);
}

.u-grayscale {
    @include grayscale_element(100%);
    transition: all 200ms ease-in-out;
    opacity: .7;
    &:hover {
        @include grayscale_element(0);
        opacity: 1;
    }
}

