// 1. Colors
$s-primary:     #11A7B8; //#0CA0B2
$s-secondary:   #0CA0B2; //#24B1C0
$s-tertiary:    #B08D44; //#EEA625
$s-accent:      #4A90E2;
$-s-gray:       #585858;

$s-button:      lighten($s-tertiary, 8%); //#FDA853

$alt-primary:   #819C9F;
$alt-secondary: #D0011B;
$alt-tertiary:  #4990e2;
$alt-accent:    #D0011B;

$form-background: #dae0e3;
$form-input: $black;



// 2. Fonts
$quicksand: 'Quicksand', sans-serif;
$lato: 'Lato', sans-serif;

// 3. Misc
$logo-width: 210px;
$logo-sm-width: 180px;


/*--------------------------------
	Paths
*/
$fontPath: "../fonts";
$imgPath: "../img";