<div class="c-summary-container l-block">
	<footer class="c-info-footer l-wrap">
		<div class="c-info-footer__summary">
			<div class="l-logo l-logo--secondary">
				<div class="o-logo o-logo--footer">
					<a href="" class="o-logo__brand">
						<img src="../assets/img/logo-small.svg" alt="">
					</a>
				</div>
			</div>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore reiciendis quos, est saepe, culpa quisquam aut beatae corporis eos voluptate totam quaerat quae ad veniam excepturi, id placeat. Iste, vel?</p>


		</div>
		<div class="c-info-footer__social">
			<nav class="l-menu l-menu--social">
				<menu class="c-menu c-menu--social">
					<li class="c-menu__item">
						<a href="#" class="c-menu__link rd"><img src="{{site.assets}}/icon-fb.svg" alt=""></a>
					</li>
					<li class="c-menu__item">
						<a href="#" class="c-menu__link rd"><img src="{{site.assets}}/icon-tw.svg" alt="">
						</a>
					</li>
					<li class="c-menu__item">
						<a href="#" class="c-menu__link rd"><img src="{{site.assets}}/icon-ig.svg" alt=""></a>
					</li>
					<li class="c-menu__item">
						<a href="#" class="c-menu__link rd"><img src="{{site.assets}}/icon-pt.svg" alt=""></a>
					</li>
				</menu>
			</nav>

			<address class="o-main-address">
				21 Beacon Street Suite 4B<br/>
				Boston, MA 02108<br/>
				(800) BNB-3317
			</address>
		</div>
	</footer>
</div>

<div class="c-footer-container">
	<footer class="c-site-footer l-wrap">
		{% include components/inc-nav-footer.html %}
		<div class="c-site-footer__copyright">
			<p>cccc</p>
		</div>
	</footer>
</div>

{% include foot.html %}
