<div class="c-summary-container l-block">
	<footer class="c-info-footer l-wrap">
		<div class="c-info-footer__summary">
			<div class="l-logo l-logo--secondary">
				<div class="o-logo o-logo--footer">
					<a href="" class="o-logo__brand">
						<img src="{{site.assets}}logo-featured.svg" alt="">
					</a>
				</div>
			</div>
		</div>
		<div class="c-info-footer__social">
			<nav class="l-menu l-menu--social">
				<menu class="c-menu c-menu--social">
					<li class="c-menu__item">
						<a href="{{site.fb}}" class="c-menu__link rd" target="_blank"><img src="{{site.assets}}/icon-fb.svg" alt=""></a>
					</li>
					<li class="c-menu__item">
						<a href="{{site.tw}}" class="c-menu__link rd" target="_blank"><img src="{{site.assets}}/icon-tw.svg" alt="">
						</a>
					</li>
					<li class="c-menu__item">
						<a href="{{site.pn}}" class="c-menu__link rd" target="_blank"><img src="{{site.assets}}/icon-ig.svg" alt=""></a>
					</li>
					<li class="c-menu__item">
						<a href="{{site.in}}" class="c-menu__link rd" target="_blank"><img src="{{site.assets}}/icon-pt.svg" alt=""></a>
					</li>
				</menu>
			</nav>
			
			<address class="o-main-address">
				{{site.address.street}}<br/>
				{{site.address.city}}, {{site.address.state}}<br/>
				<a href="tel:+{{site.phone}}">{{site.phone}}</a>
			</address>
		</div>
	</footer>
</div>

<div class="c-footer-container">
	<footer class="c-site-footer l-wrap">
		{% include components/inc-nav-footer.html %}
		<div class="c-site-footer__copyright">
			<p>{{site.title}} 	&copy; Copyright {{ 'now' | date: "%Y" }}</p>
		</div>
	</footer>
</div>
{% include components/inc-mobile-nav.html %}
{% include foot.html %}
