<div class="c-card c-card--side">
	<div class="c-card__wrap" style="background-image: url('{{site.assets}}{{service.thumb-image}}');">
		<article class="c-card__entry">
			<div class="c-card__desc">
				<header class="c-card__header">
					<h3 class="c-card__title">
						
						<a href="{{service.link}}">{{service.title}}</a>
					</h3>
					<h4 class="c-card__tag">{{service.tag}}</h4>
				</header>
				
				<section class="c-card__content">
					<p>{{service.excerpt}}</p>
				</section>
			</div>
			<footer class="c-card__footer">
				<div class="c-card__actions">
					<div class="c-card__item">
					<!-- <p>{{service.extras}}</p> -->
						{% assign c = service.extras %}
							<ul class="o-extras">
								{% if c.animal == true %}
									<li class="o-extras__item"><span class="o-extras__link cruelty">&nbsp;</span></li>
								{% endif %}
								{% if c.recycle == true %}
									<li class="o-extras__item"><span class="o-extras__link recycle">&nbsp;</span></li>
								{% endif %}
							</ul>
	
						
						<!-- <p class="u-no-margin">
							<span class="c-card__cur">$<strong>{{service.price}}</strong></span> 
						</p> -->
					</div>
					<div class="c-card__item">
						<p class="u-no-margin u-text-right"><a href="{{service.link}}" class="o-cta o-cta--small" title="Schedule {{service.title}}">{{site.cta_header}}</a></p>
					</div>
				</div>
			</footer>
		</article>
	</div>
</div>