<menu class="c-menu c-menu--main u-float-right">
	{% assign  items = site.pages | sort: "nav-weight" %}
		{% for item in items %}
    		{% unless item.exclude %}
				<li class="c-menu__item">
					<a href="{{base}}{{item.url}}" class="c-menu__link {% if item.url == page.url %}active{% endif %}">{{ item.nav-item }}</a>
				</li>
			{% endunless %}
		{% endfor %}
	<li class="c-menu__item"><a href="{{site.cta_url}}" class="o-cta o-cta--ask">{{site.cta_header}}</a></li>
	<!-- <li class="c-menu__item o-mini-cart">
		<div id="my-cart-11450045"></div>
		<div>
		<script type="text/javascript" src="https://app.ecwid.com/script.js?11450045&data_platform=code&data_date=2017-04-24" charset="utf-8"></script>
		<script type="text/javascript"> xMinicart("id=my-cart-11450045"); </script>
		</div>
	</li> -->
</menu>
