<section class="c-content__product">
	<div class="c-content__prop">
		<figure class="o-featured">
			<img src="{{site.assets}}{{s.feature-image}}" alt="{{s.title}}">
		</figure>
		<p class="o-excerpt">{{s.excerpt}}</p>

		<!-- <section class="o-pricing">
			<table class="o-pricing__summary" width="100%">
				<thead>
					<tr>
						{% assign p = s.pricing %}
						{% for item in p.bedbath %}
							<th class="o-pricing__head">{{item}}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for item in p.type %}
						<tr>
							{% for i in item %}
								{% if forloop.first == true %}
									<td class="o-pricing__data title">{{i}}</td>
								{% else %}
							        <td class="o-pricing__data">{{i | prepend:'$'}}</td>
							    {% endif %}
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<p><small>More Rooms? Call for a quote! <a href="tel:+{{site.phone}}">{{site.phone}}</a></small></p>
		</section> -->

		<section class="c-partners-container">
			<div class="c-partners l-layout">
				<div class="c-partners__item"><img class="u-grayscale" src="{{site.assets}}/logo-babygenics.png" alt=""></div>
				<div class="c-partners__item"><img class="u-grayscale" src="{{site.assets}}/logo-meyers.png" alt=""></li>
			</div>
		</section>

		<footer class="">
			<div class="c-card__actions">
				<div class="c-card__item">
					<hr class="u-rule">

					{% assign c = s.extras %}
						<ul class="o-extras">
							{% if c.animal == true %}
								<li class="o-extras__item"><span class="o-extras__link cruelty">&nbsp;</span></li>
							{% endif %}
							{% if c.recycle == true %}
								<li class="o-extras__item"><span class="o-extras__link recycle">&nbsp;</span></li>
							{% endif %}
						</ul>
				</div>
			</div>
		</footer>

	</div>
	<div class="c-content__form">

		<div class="ecwid ecwid-SingleProduct-v2 ecwid-Product ecwid-Product-{{s.product-id}}" itemscope itemtype="http://schema.org/Product" data-single-product-id="{{s.product-id}}">
			<!-- <div class="c-site-mini-cart">
				<script type="text/javascript" src="https://app.ecwid.com/script.js?{{site.store}}"></script>
				<script type="text/javascript"> xMinicart("style=", "layout=Mini"); </script>
			</div> -->
			<!-- <div itemtype="http://schema.org/Offer" itemscope itemprop="offers">
				<div class="ecwid-productBrowser-price ecwid-price" itemprop="price" content="100">
					<div itemprop="priceCurrency" content="USD"></div>
				</div>
			</div> -->

			<div class="ecwid-options" customprop="options"></div>
			<!-- <div class="ecwid-qty" customprop="qty"></div> -->
			<div class="ecwid-addto" customprop="addtobag"></div>
		</div>
		
		<script type="text/javascript">
			ecwidMessages = {
			"BuyNow.buy_now":"Schedule Now",
			"BreadCrumbs.your_bag" : "Your cart",
			"Minicart.shopping_bag" : "Cart",
			"ShoppingCartView.shopping_bag" : "Your Cart",
			"EmptyShoppingCartPanel.empty" : "Your Cart is empty",
			"ProductBrowser.ModernButton.add_to_bag":"Add to Cart"
			};
		</script>



		<script type="text/javascript" src="https://app.ecwid.com/script.js?{{ site.store }}&data_platform=singleproduct_v2" charset="utf-8"></script>
		<script type="text/javascript">xProduct()</script>

		<script type="text/javascript">
			Ecwid.OnPageLoad.add(function(page) {
			    var ecwidSelect = document.getElementsByClassName("ecwid-options")[0];
			    var optionDropdowns = ecwidSelect.querySelectorAll("select");
			    var howManyDropdowns = optionDropdowns.length;
			    
			    for (var i = 0; i < howManyDropdowns; i++) {
			      var optionDropdown = optionDropdowns[i];
			      var dropdownSelectors = optionDropdown.options;
			      var howManySelectors = dropdownSelectors.length;
			      for (var j = 0; j < howManySelectors; j++) { optionDropdown.options[j].text = optionDropdown.options[j].value; } 
			    };
			});
		</script>


	</div>
</section>