/*--------------------------------
  
  Buttons
*/

.o-cta {
	@include button(
		$background: $white, 
		$background-hover: lighten($s-primary, 3%), 
		$color: $s-primary, 
		$style: solid
	);
	font-size: rem-calc(14);
	font-weight: 700; 
	text-transform: uppercase;
	border-color: $s-primary; 
	border-width: 2px; 
	border-style: solid; 
	border-radius: 80px;  
	padding: 1em 2.5em;
	width: auto; 
	&:hover {
		color: $white;
		background-color: lighten($s-tertiary, 20%) !important;
		border-color: $white; 
	}
	&--primary {
		@include typi(cta);
		background-color: $white; 
		padding: rem-calc(15 60);
	}
	&--ghost, &--ask {
		@include button-style($background-hover: $s-button, $color: $white);
		@include button-hollow;
		border-color: $white; 
	}
	&--inv {
		@include button-style($background: $white, $color: $s-primary);
		// border-color: lighten($s-button, 3%);
		&:hover {
			color: $white;
			background-color: $s-button; 
		}
	}
	&--ask {
		padding-right: 1.8em;
		padding-left: 1.8em; 
	}
	&--small {
		font-size: rem-calc(12);
		border-width: 1px; 
		border-radius: 5px;
		&:hover {
			color: $white;
			background-color: darken($s-primary, 3%);
		}
	}
}