// Site Cards

$card: c-card;

.#{$card} {
	@include grid-col-row;
	margin-bottom: 3em;
	&__wrap {
		background-color: $white; 
		background-repeat: no-repeat; 
		-webkit-background-size: 100%; 
		-o-background-size: cover; 
		background-size: cover; 
		background-position: 50% 50%;
		border: 1px solid $light-gray;
		-webkit-box-shadow: 0 0 6px black(.4); 
		box-shadow: 0 0 4px black(.4); 
		padding: 20em 0 0;
		position: relative;
	}
	&__entry {
		background-color: $white;
		margin: 0;
		position: relative;
	}
	&__desc {
		padding: rem-calc(30 40 70); 
	}
	&__feature {
		@include zero-out;
		background: #000; 
		img {
			width: 100%; 
		}
	}
	&__footer {
		@include abs-pos($b: 0);
		background-color: lighten($light-gray, 6%); 
		border-top: 1px solid $light-gray; 
		padding-top: rem-calc(5) ;
		padding-bottom: rem-calc(5);
		width: 100%; 
	}

	.#{$card}__title {
		@include header-size(h3);
		color: $alt-tertiary;
		font-family: $lato;
		text-transform: capitalize; 
		font-weight: 400;
		letter-spacing: 0; 
		margin: rem-calc(0 0 14); 
		a, a:link, a:visited {
			color: $alt-tertiary;
		}  
	}
	.#{$card}__tag {
		@include header-size(h6);
		color: $alt-primary;
		font-family: $quicksand;
		text-transform: uppercase; 
		margin: rem-calc(0 0 10); 
	}

	.#{$card}__cur {
		color: $white;
		background-color: $medium-gray;
		border-radius: 5px;
		padding: rem-calc(5 10);  
		display: inline-block;
	}

	.#{$card}__item {
		&:first-child {
			@include grid-col(5);
		}
		&:last-child {
			@include grid-col(7);
		}
	}
}


.#{$card}--side {
	@include breakpoint(large) {
		.#{$card}__wrap {
			-webkit-background-size: contain;
			-o-background-size: contain;
			background-size: contain;
			background-position: 0 0;
			padding: 0;
		}
	 	.#{$card}__entry {
			margin: 0 0 0 20em; 
			&::before {
				@include css-triangle(30px, $white, left);
				@include abs-pos($t: 40%, $l: -30px);
			}
			
		}
		.#{$card}__actions {
			@include grid-row;
			padding-top: .5em;
			padding-bottom: .5em; 
		}
	}
}

.o-extras {
	@include menu-nav;
	@include menu-list;
	&__item:first-child {
		margin-right: 1em; 
	}

	&__link {
		@include circle(50px, $white);
		text-align: center;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		-webkit-background-size: cover; 
		 -o-background-size: cover; 
		 background-size: cover;
		border: 1px solid rgba($s-primary, 0.3);   
		padding: 1em; 
		display: inline-block;
		overflow: hidden;
		&.cruelty {
			background-image: url('#{$imgPath}/img-cruelty.png');
		}
		&.recycle {
			background-image: url('#{$imgPath}/img-recycle.png');
		}
	}
}