// Article

$con: c-content;

.#{$con}-container {
	background-color: $white;
}

.#{$con} {
	padding: rem-calc(80 0); 
	&--index {
		text-align: center;
	}
	&__entry {
		@include grid-col(10);
		@include grid-column-position(center);
		@include breakpoint(large) {
			@include grid-col(8);
			@include grid-column-position(center);
		}
		.#{$con}__title {
			color: darken($alt-primary, 25%);
			margin-bottom: rem-calc(30); 
			&:after {
				content: '';
			 	display: block;
			  	background: darken($light-gray, 5%);
			  	height: 4px;
			  	max-width: 10%;
			  	width: 100%;
			  	margin: 0 auto;
			}
		}
		&.full {
			@include grid-col(10);
			@include grid-column-position(center);
		}
		h1 {
			@include header-size(h2);
		}
		h2 {
			@include header-size(h3);
		}
	}
	&__product {
		@include grid-row;
	}
	&__prop {
		@include grid-col(12);
		text-align: left;
		@include breakpoint(large) {
			@include grid-col(8);
		}
		.o-featured {
			border: 5px solid $light-gray;
			margin-bottom: 2em;  
		}
	}
	&__form {
		@include grid-col(12);
		@include breakpoint(large) {
			@include grid-col(4);
		}
	}
}