/*--------------------------------
  
  Site header
*/

.c-site-header {
	.o-logo__brand {
		width: $logo-width;
	}
}

.home {
	.c-site-header {
		.o-logo__brand {
			opacity: 0;
			-webkit-transition: all 0.3s ease-in-out; 
			-moz-transition: all 0.3s ease-in-out; 
			-ms-transition: all 0.3s ease-in-out; 
			-o-transition: all 0.3s ease-in-out; 
			transition: all 0.3s ease-in-out; 
		}
	}
	.sticky {
		.c-site-header {
			.o-logo__brand {
				opacity: 1; 
			}
		}
	}
}

// components
.c-header-container {
	background-color: $s-primary; 
	padding: 1em 0 0; 
	width: 100%; 
	min-height: 75px; 
	position: absolute;
	z-index: 1; 
	&.sticky {
		background-color: darken($s-primary, 1%); 
		position: fixed;
	}
	z-index: 10; 
}

.home {
	.c-header-container {
		background-color: black(0.05);
		&.sticky {
			background-color: darken($s-primary, 1%); 
		}
	}
}

.c-site-header {
	.c-menu__item {
		margin-right: 0.5em 
	}
	.c-menu__link {
		font-size: rem-calc(14);
		border-color: transparent; 
		border-width: 2px; 
		border-style: solid; 
		border-radius: 80px;  
		padding: 0.8em 0.8em;
		&:hover, &.active {
			background-color: darken($s-primary, 5%); 
			border-color: rgba($white, 0.25); 
		}
	}
}


// objects
.o-logo {
	@include zero-out;
	&__brand {
		height: auto; 
		display: block;
		overflow: hidden;
	}
}