html, body {
	font-family: $lato; 
}

@include headings() {
  font-family: $quicksand; 
  font-weight: 400; 
  text-transform: uppercase ;
  letter-spacing: letter-spacing(80);
  margin: 0 0 $global-margin; 
}

p {
	@include typi(basic);
	color: darken($dark-gray, 0%);
	margin: 0 0 $global-margin; 
}

// Links
a {
	&:link, &:active, &:visited {
		text-decoration: none; 
	}
}