html, body {
	font-family: $lato; 
}

@include headings() {
  font-family: $quicksand; 
  font-weight: 400; 
  letter-spacing: letter-spacing(80);
  margin: 0 0 $global-margin; 
}

p, li {
	@include typi(basic);
	color: $s-gray;
	line-height: 1.9 !important;
	margin: 0 0 $global-margin; 
}

.o-opening {
	p {
		@include typi(opening);
	}
}

// Links
a {
	&:link, &:active, &:visited {
		text-decoration: none; 
	}
}