---
title: Betweenbnb
nav-item: Home
nav-weight: 0
description: Betweenbnb - Take the Hassel out of Hosting. 
exclude: true
slug: home
layout: default
---

<div class="c-content-container l-block">
	<div class="c-content c-content--index l-wrap">
		<article class="c-content__entry">
			<header class="content__header">
				<h2 class="c-content__title">No Hassle Hosting!</h2>
			</header>

			<section class="o-opening">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis voluptatibus libero nulla quae explicabo odio, laborum expedita iste quaerat nihil nisi minus. Obcaecati dolorum repellendus incidunt facilis, nesciunt nihil, cupiditate.</p>
			</section>

			<footer class="c-content__footer">
				<p><a href="#"></a></p>
			</footer>
		</article>
	</div>
</div>

<!-- Services -->

<div class="c-services-container">
	<div class="c-content l-wrap">
		<header class="content__header">
			<h2 class="c-content__title">Featured Service</h2>
		</header>

		<div class="c-content__entry">
			{% for service in site.data.services.main limit: 1 %}
				{% include components/card-main.html %}
			{% endfor %}
		</div>

		<footer class="c-content__footer">
			<p><a href="{{site.cta_url}}" class="o-cta o-cta--inv">View All Services</a></p>
		</footer>
	</div>
</div>

{% include components/inc-testimonials.html %}

<!-- <div class="c-content-container l-block">
	<div class="c-content c-content--index l-wrap">
		<article class="c-content__entry">
			<header class="content__header">
				<h2 class="c-content__title">Easy and Convenient</h2>
			</header>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis voluptatibus libero nulla quae explicabo odio, laborum expedita iste quaerat nihil nisi minus. Obcaecati dolorum repellendus incidunt facilis, nesciunt nihil, cupiditate.</p>

			<footer class="c-content__footer">
				<p><a href="#" class="o-cta o-cta--inv">Get Started</a></p>
			</footer>
		</article>
	</div>
</div>
 -->

